<div class="formboxcenter">
  <div class="formbox">
    <%= simple_form_for(@service) do |f| %>
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :rate %>
      <%= f.input :years_experience %>
      <%= f.input :address %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.submit 'Add service', class: "button-center button"%>
    <% end %>
  </div>
</div>

