

<div class="container">
  <h3><%= @service.title %></h3>
  <p><%= @service.description %></p>
  <p><%= @service.rate %> $ / hour</p>
  <p><%= @service.years_experience %> Years of Experience</p>

  <br>

  <%= link_to 'Book Now', new_service_booking_path(@service) %>

  <%= link_to 'edit', edit_service_path(@service) %>
  <%= link_to 'delete', service_path(@service), method: :delete, data: {confirm: 'Are you sure?'} %>


  <% if @mybooking != nil %>
    <%= link_to '+ add a review', new_booking_review_path(@mybooking), class: 'btn btn-primary' %>
  <% end %>

  <h3>Provider's info</h3>
  <%= link_to user_path(@service.user) do %>
    <h6><%= @service.user.first_name %> <%= @service.user.last_name %></h6>
  <% end %>
  <p><i class="fas fa-map-marker-alt"></i> <%= @service.user.location %></p>


  <div class="reviews-box">
    <h3>Reviews (<%= @reviews.length %>)</h3>

    <div class="reviews-card">

      <% @reviews.each do |r| %>

        <div class="review">

          <div>
            <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, class: "smallsize-avatar"%>
            <% else %>
              <%= image_tag "https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png", class: "avatar dropdown-toggle"%>
            <% end %>

            <h4><%= r.user.first_name %></h4>
            <h6><%= r.rating %> <i class="fas fa-star"></i></h6>
          </div>

          <div class="comment">
            <p><%= r.content %></p>
            <p>Written by <%= link_to r.user.first_name, user_path(r.user) %></p>
          </div>

        </div>

      <% end %>


    </div>

  </div>


</div>
