<h1>Services#show</h1>
<p>Find me in app/views/services/show.html.erb</p>

<h3><%= @service.title %></h3>
<p><%= @service.description %></p>
<p><%= @service.rate %></p>
<p><%= @service.years_experience %></p>

<br>
<!-- booking of a service --nour -->
<% @booking.each do |b| %>
  <p><%= b.message  %></p>
<% end %>
<!-- this should be displayed in the dashbord --nour  -->
<!-- I think here we shoud display the reviews --nour -->

<%= link_to 'Book Now', new_service_booking_path(@service) %>

<%= link_to 'edit', edit_service_path(@service) %>
<%= link_to 'delete', service_path(@service), method: :delete, data: [confirm: 'Are you sure?'] %>

<!-- TODO: @service.reviews.each do -->
<%= link_to '+ add a review', new_booking_review_path(@booking.service) %>
