<div class="container-page" id="service">
  <%= link_to services_path, class: "search-link" do %>
    <p>
      <span class="iconify" data-icon="ic:sharp-arrow-back-ios" data-inline="false"></span>
      search
    </p>
  <% end %>
  
  <div class="service-header">
    <h1><%= @service.title %></h1>
    <div class="service-address">
      <p><%= @service.address_lines[0] %></p>
      <p><%= @service.address_lines[1] %></p>
    </div>
  </div>

  <div class="service-rating">
    <% if @service.reviews.empty? %>
      <p>No reviews yet</p>
    <% else %>
      <span class="iconify"
            data-icon="ant-design:star-filled"
            data-inline="false"
            style="color: #ffc600;font-size: 18px;margin-bottom: 3px;margin-right: 8px;">
      </span>
      <%= @service.average_rating.round(1) %>
      <span class="rating-line">|</span>
      <a href="#service-reviews"><%= pluralize(@service.reviews.count, 'review') %></a>
    <% end %>
  </div>

  <div class="service-body">
    <div class="service-content">
      <div class="wrap-image service-images">
        <% if @service.photos.empty? %>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTtPtBW4Rw0SPkwgxokYqQW4jRJjuEgDDbTM8ULc4zzoHCT4g1j" alt="placeholder">
        <% else %>
          <%= cl_image_tag @service.photos.first.key, class: "" %>
        <% end %>
      </div>
      <section class="service-description">
        <h2>Service Description</h2>
        <p><%= @service.description %></p>
      </section>

      <section class="service-provider">
        <div class="wrap-image provider-image">
          <%= link_to user_path(@service.user) do %>
            <% if @service.user.photo.attached? %>
              <%= cl_image_tag @service.user.photo.key %>
            <% end %>
          <% end %>
        </div>
        <div class="service-provider-info">
          <p>
            <span class="tag"><%= @service.years_experience %> Years of Experience</span>
            <span class="tag"><%= @service.num_completed_booking %> completed bookings</span>
          </p> 
          <%= link_to user_path(@service.user), class: 'blue' do %>
            <h2><%= @service.user.first_name %> <%= @service.user.last_name[0] %>.</h2>
          <% end %>
          <p><%= @service.user.description %></p>
        </div>
      </section>

      <section class="service-location">
        <h2>Location</h2>
        <div class="service-address">
          <p><%= @service.address_lines[0] %></p>
          <p><%= @service.address_lines[1] %></p>
        </div>
        <div
          class="service-map"
          id="map"
          style="
            width: 100%;
            height: 50vh;
            border-radius: .25rem;
          "
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </section>


      <section class="service-reviews" id="service-reviews">
        <h2>What people are saying</h2>
        <div class="service-rating">
          <% if @service.reviews.empty? %>
            <p>No reviews yet</p>
          <% else %>
            <span class="iconify"
                  data-icon="ant-design:star-filled"
                  data-inline="false"
                  style="color: #ffc600;font-size: 18px;margin-bottom: 3px;margin-right: 8px;">
            </span>
            <%= @service.average_rating.round(1) %>
            <span class="rating-line">|</span>
            <%= pluralize(@service.reviews.count, 'review') %>
          <% end %>
        </div>

        <hr>

        <% @service.reviews.reverse.each do |r| %>
          <div class="review-section">
            <%= link_to user_path(r.user) do %>
              <h6 style="color: black;"><%= r.user.full_name %></h6>
            <% end %>
            <p class="review-date"><%= r.created_at.strftime("%B") %> <%= r.created_at.year %></p>
            <p class="review-rating">
              <% r.rating.times do %>
                <span class="iconify" data-icon="ant-design:star-filled" data-inline="false" style="color: #ffc600"></span>
              <% end %>
            </p>
            <p><%= r.content %></p>
          </div>
        <% end %>
      </section>
    </div>

    <div class="service-booking">
      <%= render "bookings/form" %>
    </div>
  </div>
</div>

<div class="service-booking-mobile">
  <%= render "bookings/form" %>
</div>

<!-- booking confirmation modal -->

<div class="bg-modal">
  <div id="modal-confirm">
    <h2>Booking Request Sent!</h2>
    <p>Let's wait for <%= @service.user.full_name %>'s response!</p>
    <% if @service.user.photo.attached? %>
      <%= cl_image_tag @service.user.photo.key, height: 300, width: 400, crop: :fill, class: 'smallsize-avatar' %>
    <% else %>
      <%= image_tag "https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png", class: "smallsize-avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    <% end %>
    <%= link_to 'Go to Bookings', bookings_path, class: 'button' %>

    <div id="closed">+</div>
  </div>
</div>

