<!-- carousel -->
<div class="carousel-container">
  <div class="carousel slide " data-ride="carousel">
    <div class="carousel-inner">
      <!-- first carousel image -->
      <div class="carousel-item active">
        <% if @service.photos.empty? %>
          <img class="d-block w-75 d-flex justify-content-center" alt="First slide" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTtPtBW4Rw0SPkwgxokYqQW4jRJjuEgDDbTM8ULc4zzoHCT4g1j">
        <% else %>
          <%= cl_image_tag @service.photos.first.key, class: "carousel-item-picture d-block w-100" %>
        <% end %>
      </div>
      <!-- 2nd+ images -->
      <% i = 1 %>
      <% while i < @service.photos.length %>
        <div class="carousel-item d-flex justify-content-center">
          <%= cl_image_tag @service.photos[i].key, class: "carousel-item-picture d-block w-100" %>
        </div>
        <% i += 1 %>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>


<!-- Left: Service info, Right: Booking info -->

<div class="container">
  <div class="row">
    <div class="service-page-container">

      <div class="box-left">

        <div class="service-info">
          <div id="service-first-line">
            <h1><%= @service.title %></h1>
            <div id="service-link">
              <div class="button-service">
                <%= link_to edit_service_path(@service) do %>
                  <i class="far fa-edit"></i>
               </div>
              <% end %>
              <div class="button-service">
                <%= link_to service_path(@service), method: :delete, data: {confirm: 'Are you sure?'} do %>
                  <i class="far fa-trash-alt"></i>
               </div>
              <% end %>
            </div>
          </div>

          <!-- provider info -->
          <div class="provider-info">
            <%= link_to user_path(@service.user) do %>
              <% if @service.user.photo.attached? %>
                <%= cl_image_tag @service.user.photo.key, height: 300, width: 400, crop: :fill, class: 'avatar-large' %>
              <% end %>
            <% end %>
            <div class="provider-content">
              <h6><%= @service.user.first_name %> <%= @service.user.last_name %></h6>
              <p><i class="fas fa-map-marker-alt"></i> <%= @service.user.location %></p>
            </div>
          </div>

          <h3>$<%= @service.rate %>/hour</h3>
          <h3><%= @service.years_experience %> Years of Experience</h3>
          <p><%= @service.description %></p>

        </div>

      </div>

      <div class="box-right">
        <div class="form-booking">
          <%= render "bookings/form" %>
        </div>
      </div>

    </div>

  </div>





  <hr>

  <!-- review section -->
  <div class="row">
    <div class="review-container">
      <h2 id="average_rating"><i class="fas fa-star" id="rating-star"></i> <%= @service.average_rating %> (<%= @service.reviews.length %> reviews)</h2>
      <div class="review-cards">

        <% @service.reviews.reverse.each do |r| %>

          <div class="review">
            <%= link_to user_path(r.user) do %>
            <div class="review-user">
              <% if current_user.photo.attached? %>
                <%= cl_image_tag current_user.photo.key, class: "avatar"%>
              <% else %>
                <%= image_tag "https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png", class: "avatar"%>
              <% end %>
                <h6><%= r.user.full_name %></h6>
            </div>
            <% end %>
              <h3><%= r.rating %> <i class="fas fa-star" id="review-rating"></i></h3>

              <p><%= r.content %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>
<!-- booking confirmation modal -->


<div class="bg-modal">

  <div id="modal-confirm">
    <h2>Booking Request Sent!</h2>
    <p>Let's wait for <%= @service.user.full_name %>'s response!</p>
    <% if @service.user.photo.attached? %>
      <%= cl_image_tag @service.user.photo.key, height: 300, width: 400, crop: :fill, class: 'smallsize-avatar' %>
    <% else %>
      <%= image_tag "https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png", class: "smallsize-avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    <% end %>
    <%= link_to 'Go to Dashboard', dashboard_path, class: 'button' %>

    <div id="closed">+</div>
  </div>
</div>

