<div class="container">

  <%= simple_form_for(@form_var) do |f| %>
    <%= f.input :start %>
    <%= f.input :end %>
    <%= f.input :message %>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>

</div>
