<div id="outgoing-<%= b.id %>" class="card-booking">
  <div class="booking-img">
    <% if b.service.photos.empty? %>
      <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTtPtBW4Rw0SPkwgxokYqQW4jRJjuEgDDbTM8ULc4zzoHCT4g1j", class: 'card-img' %>
    <% else %>
      <%= cl_image_tag b.service.photos.first.key, height: 250, width: 400, crop: :fill, class: 'card-img'%>
    <% end %>

    <p class="image-tag">
      <%= b.status %>
    </p>

    <div class="booking-user">
      <%= link_to user_path(b.service.user) do %>
        <% if b.service.user.photo.attached? %>
          <%= cl_image_tag b.service.user.photo.key, height: 50, width: 50, crop: :fill, class: 'avatar' %>
        <% else %>
          <%= image_tag "https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png", class: '' %>
        <% end %>
      <% end %>
      
      <%= link_to user_path(b.service.user) do %>
        <p><%= b.service.user.first_name %> <%= b.service.user.last_name %></p>
      <% end %>
    </div>

  </div>

  <div class="booking-info">
    <div>
      <p class="booking-time"><%= b.start.strftime("%b. %d @%H:00") %></p>
      
      <%= link_to service_path(b.service) do %>
        <h2 class="blue"><%= b.service.title %></h2>
      <% end %>

      <p class="item-svg">
        <span class="iconify" data-icon="eva:pin-outline" data-inline="false"></span>
        <%= b.service.address %>
      </p>
    </div>
    

    <div>
      <hr>
      <div class="booking-btns">
        <% case b.status %>
        <% when 'pending' %>
          <p>Request sent!</p>
        <% when 'accepted' %>
            <%= link_to 'Completed', complete_path(b), method: :patch, class: 'blue', remote: true %>
        <% when 'declined' %>
          <%= link_to 'Find other providers', services_path, class: 'blue' %>
        <% when 'canceled' %>
          <%= link_to 'Try again', service_path(b.service), class: 'blue' %>
        <% when 'completed' %>
          <%= link_to 'Leave a Review', new_booking_review_path(b), class: 'blue' %>
        <% when 'reviewed' %>
          <%= link_to 'Book again', service_path(b.service), class: 'blue' %>
        <% end %>
      </div>
    </div>
  </div>
  


</div>


<%# <div class="bg-modal"></div> %>
