
<div class="my-container">

  <div class="requests">
    <h2>[Incoming Bookings]</h2>

    <% @bookings_for_you.each do |b| %>

      <div class="requests-card">

        <% if b.service.photos.empty? %>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTtPtBW4Rw0SPkwgxokYqQW4jRJjuEgDDbTM8ULc4zzoHCT4g1j" alt="unlicensed">
        <% else %>
          <%= cl_image_tag b.service.photos.first.key, height: 200, width: 300, crop: :fill %>
        <% end %>

        <div class="details">

          <div class="aligned-title">

            <h3><%= b.service.title %></h3>
            <p>Address: <%= b.service.address %></p>
            <p>Date: <%= b.start.to_date %></p>
            <p>Message: <%= b.message %></p>
            <p>Status: <%= b.status %></p>
            <p>Completed
              <span>
                <% if b.completed %>
                  <i class="far fa-check-square"></i>
                <% else %>
                  <i class="far fa-square"></i>
                <% end %>
              </span>
            </p>

          </div>

          <div class="provider">
            <%= link_to user_path(b.user) do %>
              <h6><%= b.user.first_name %> <%= b.user.last_name %></h6>
              <% if b.service.user.photo.attached? %>
                <%= cl_image_tag b.service.user.photo.key, height: 300, width: 400, crop: :fill, class: 'avatar' %>
              <% else %>
                <%= image_tag "https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% end %>
            <% end %>
          </div>

          <div class="buttons-links">
            <%= link_to 'Accept', accept_path(b), method: :patch, class: 'small-btn' %>
            <%= link_to 'Decline', decline_path(b), method: :patch, class: 'small-btn' %>
            <%= link_to 'Completed', complete_path(b), method: :patch, class: 'small-btn' %>
          </div>

        </div>

      </div>
    <% end %>

  </div>

  <div class="requests">

      <h2>[Outgoing Bookings]</h2>
      <% @bookings_by_you.each do |b| %>
        <div class="requests-card">

          <% if b.service.photos.empty? %>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTtPtBW4Rw0SPkwgxokYqQW4jRJjuEgDDbTM8ULc4zzoHCT4g1j" alt="unlicensed">
          <% else %>
            <%= cl_image_tag b.service.photos.first.key, height: 200, width: 300, crop: :fill %>
          <% end %>
          <div class="details">

            <div class="aligned-title">
              <h3><%= b.service.title %></h3>
              <p>Address: <%= b.service.address %></p>
              <p>Date: <%= b.start.to_date %></p>
              <p>Status: <%= b.status %></p>
              <p>Completed
                <span>
                  <% if b.completed %>
                    <i class="far fa-check-square"></i>
                  <% else %>
                    <i class="far fa-square"></i>
                  <% end %>
                </span>
              </p>
            </div>
          </div>


          <div class="provider">
            <%= link_to user_path(b.user) do %>
              <h6><%= b.service.user.first_name %> <%= b.service.user.last_name %></h6>
              <% if b.service.user.photo.attached? %>
                <%= cl_image_tag b.service.user.photo.key, height: 300, width: 400, crop: :fill, class: 'avatar' %>
              <% else %>
                <%= image_tag "https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% end %>
            <% end %>
          </div>

        </div>

    <% end %>

</div>

