<div class="card-service" data-lat="<%= service.latitude %>" data-lng="<%= service.longitude %>">

    <div class="card-service-img">
        <% if service.photos.empty? %>
            <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTtPtBW4Rw0SPkwgxokYqQW4jRJjuEgDDbTM8ULc4zzoHCT4g1j" %>
        <% else %>
            <%= cl_image_tag service.photos.first.key, height: 250, width: 400, crop: :fill %>
        <% end %>

        <p class="image-tag">
            <% if service.average_rating.nil? %>
                new
            <% else %>
                <span class="iconify" data-icon="ant-design:star-filled" data-inline="false" style="color: #ffc600"></span> <%= service.average_rating %>
            <% end %>
        </p>
    </div>

    <div class="card-service-info">
        <% if service.user.photo.attached? %>
            <%= cl_image_tag service.user.photo.key, height: 50, width: 50, crop: :fill, class: 'avatar' %>
        <% else %>
            <%= image_tag "https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png", class: '' %>
        <% end %>

        <%= link_to service_path(service) do %>
            <h3><%= service.user.first_name %> <%= service.user.last_name[0] %>.</h3>
            <h4><%= service.title %></h4>
        <% end %>

        <p class="price-tag">
            $<%= service.rate %>/hour
        </p>
    </div>
</div>